
<main class="main">
    <div class="text-center w-100">
        <div class="top-btn col-md-6 p-lg-5 mx-auto">
          <h1 class="display-6 fw-normal"><strong>FitnessBooster</strong>へようこそ</h1>
          <p class="lead fw-normal">トレーニングを共有しよう</p>
          <%= link_to "今すぐ始める", new_customer_session_path,class:"btn btn-danger" %>
        </div>
    </div>
</main>
