<% if customer_signed_in? %>
 
    <input type="button" value="検索する" onclick="modalOpen()" class="button-search" >
    
    <div id="modalArea" class="modalNoDisp">
      <div class="modalWindow"> <!-- ウインドウ -->
        <p>検索する</p>
        <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <div class="pt-2 pb-2 ">
          <select class="form-select" name="range">
            <option selected="">選択する</option>
            <option value="Customer">トレーニーを探す</option>
            <option value="Post">投稿を探す</option>
          </select>
        </div>
        <div class="pt-2 pb-2 pl-5"><input class="form-control" type="text" name="word" placeholder="検索ワードを入力" style="width:80%"></div>
        <div class="pt-2 pb-4"><input type="submit" value"送信する"="" name="commit" class="button-search"></div>
    </form>
    <div clas="p-3"><input type="button" value="閉じる" onclick="modalClose()" style="width:30%"></div>
      </div>
    </div>
    

<% end %>