<% if @customers.exists? %>
<div class="container">
  <div class="row">
    <div class="col-md-8 border bg-light shadow offset-md-2 mt-4">
      <h1 class="display-6 text-danger">Following</h1>
      <table class='table'>
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <th>名前</th>
            <th>フォロー数</th>
            <th>フォロワー数</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
        <tbody>
            <tr>
              <td><%= render "customers/shared/image_attached", post: customer  %></td>
              <td><%= link_to customer.name , customer_path(customer.id)%></td>
              <td><i class="fas fa-user fa-2x pr-3 pl-3"></i><%= link_to customer.followings.count,  customer_followings_path(customer) %></td>
              <td><i class="fas fa-users fa-2x pr-3 pl-3"></i><%= link_to customer.followers.count ,  customer_followers_path(customer)%></td>
            </tr>
        </tbody>
        <% end %>
      </table>
      <% else %>
      <p>ユーザーはいません</p>
    </div>
  </div>
</div>
<% end %>