<table class="table" >
    <tbody>
        <i class="far fa-grin-alt"></i>
             <div>名前：<%= current_customer.name %></div>
        <tr>
                            
            <th scope="col">フォロー</th>
            <th scope="col"></th>
        </tr>
        <tr>
            <th scope="col">フォロワー</th>
            <th scope="col"></th>
        </tr>
    </tbody>
</table>    