    <div class="container">  
        <div class="row">
            
            <%= render 'customers/shared/posts' %>
              
            <div class="col-md-8 offset-md-1">
                <% @customers.each do |customer| %>
                <div class=" col-8 p-4  border rounded mt-3 ">
                    <i class="far fa-grin-alt"></i>
                    
                    <div><%= customer.name %></div>
                    <div><%= link_to "詳細", customer_path(customer.id) %></div>

                    
                </div>
                <% end %>
            </div>
        </div>
    </div>