
    <div class="container">  
        <div class="row">
            
            <div class="col-md-3 p-4 border rounded h-50 " >
                
                <%= render 'customers/customers/info' %>
                <%= render 'customers/posts/form', post: @post %>
                
            </div>
            
            <div class="col-md-8 offset-md-1">
                <div class=" col-8 p-4  border rounded mt-3 ">
                名前
                ジム
                サプリ
                自己紹介
                フォロー
                <%= link_to "編集" , edit_customer_path(@customer.id) %>
                </div>
            </div>
        </div>
    </div>