<div id="posts_index">    
    <div class="container">  
        <div class="row">
            <div class="col-md-3 p-4 mt-5 border rounded shadow h-50 bg-light" >
                
                <!--ユーザーサイドバー-->
                <%= render 'customers/customers/info' , post: current_customer, customer: current_customer %>
                
                 <!--投稿フォーム-->
                <%= render 'customers/posts/form', post: @post_new %>
                
            </div>
            
            <div class="col-md-8 offset-md-1">
                
                <!---- 投稿一覧 ------->
                <div id="index_">
                <%= render "customers/posts/index" %>
                </div>
                
                
            </div>
            
        </div>
        <div class="col-md-12 offset-md-4 mt-3 mb-3 paginate"><%= paginate @posts %></div>
    </div>
    
</div>