    <div class="container">  
        <div class="row">

            <div class="col-md-3  border rounded">
                <table class="table" >
                    <tbody>
                        <i class="far fa-grin-alt"></i><p>yamato</p>
                        <tr>
                            
                            <th scope="col">フォロー</th>
                            <th scope="col"><%#= user.name %></th>
                        </tr>
                        <tr>
                             <th scope="col">フォロワー</th>
                             <th scope="col"><%#= user.introduction %></th>
                        </tr>
                    </tbody>
                </table>
            </div>
              
            <div class="col-md-8 offset-md-5">
                hello
            </div>
        </div>
    </div>