.main{
    width: 100%;
    min-height: 100vh; 
    background-image: image-url("sam-moqadam-vOZP2LojrHI-unsplash.jpg");
    background-size:cover;
}
.top-btn{
    background-color: #f5f5f5;
    opacity: 0.9;
    border-radius: 10px;
}