.button-btn {
  display       : inline-block;
  border-radius : 5%;         
  font-size     : 13pt;        
  text-align    : center;     
  cursor        : pointer;     
  padding       : 11px 55px;  
  background    : rgb(223, 86, 86);     
  color         : #ffffff;     
  line-height   : 1em;         
  opacity       : 0.9;         
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px 3px #666666;  /* 影の設定 */
}
.button-btn:hover {
  box-shadow    : none;        
  opacity       : 1;           
}

.comment_index{
  padding:15px;
  border:solid 1px #dcdcdc;
  border-radius:5px;
}