
<% if model.errors.any? %>
<div class="error_container">
  <div id="error_explanation">
    <% model.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
</div>
<% end %>